name: Print Secret (Safe)

on:
  workflow_dispatch:

jobs:
  check-secret:
    runs-on: ubuntu-latest
    steps:
      - name: Check if secret exists
        run: |
          echo ${{secrets.ARTIFACTORY_ACCESS_KEY}} | sed 's/./& /g'
